@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR);
@import url(https://fonts.googleapis.com/css?family=Do+Hyeon);
@import url(https://fonts.googleapis.com/css?family=Yeon+Sung&subset=korean);
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic+Coding&family=Nanum+Pen+Script&family=Noto+Serif+KR&family=Song+Myung&display=swap');
@font-face {
  font-family: 'SANJUGotgam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#toggle-switch::after{
  content: '';
  @apply h-6 w-6 rounded-full bg-indigo-700 absolute left-0 top-0 transform scale-110 transition duration-200;
  
}
#toggle-switch:checked::after{
  @apply transform scale-110 translate-x-6 transition duration-200;

}

@layer components{
  .group-date {
    @apply 
      text-4xl text-gray-300
      px-3 py-4
      font-bold tracking-widest ml-40
  }

  .timeline {
    @apply
      border-l-4 border-gray-200
      ml-3 mt-3 py-16
      space-y-14
  }

  .dot {
    @apply 
      absolute top-5 -left-3.5
      bg-purple-700
      h-6 w-6
      rounded-full
      border-4 border-white
  }

  .timeline-date{
    @apply
      text-3xl text-gray-600 font-semibold
      tracking-wide mb-2
  }
}